
modules = ["nodejs-20", "web"]
run = "cd SnarkySage && npm run dev"
[nix]
channel = "stable-24_05"
packages = ["unzip"]

[deployment]
run = ["sh", "-c", "cd SnarkySage && npm run start"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 33364283
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd SnarkySage && npm install && NODE_ENV=development npx tsx server/index.ts"
